<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" id="usernameSignin" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" id="passwordSignin" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-balanced" ng-click="signin()">Sign In</button>
  </ion-content>
</ion-view>
