<ion-view view-title="Teams">
    <ion-content>
        <ion-list>
            <ion-item class="list card" ng-repeat="team in teams" type="item-text-wrap">
                <div class="item item-divider">Team's Players:</div>
                <div class="item item-body" ng-repeat="player in team.teamMembers">
                    <div>
                         <b>{{player.username}}</b>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>








